@model TrashCollector.Models.PickUp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PickUp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetCustomersId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetCustomersId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerTrashWasNotCollected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerTrashWasNotCollected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRecyclingWasNotCollected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerRecyclingWasNotCollected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscontinuePickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscontinuePickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PausePickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PausePickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
