@model IEnumerable<TrashCollector.Models.PickUp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GetCustomersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerTrashWasNotCollected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerRecyclingWasNotCollected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscontinuePickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PausePickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GetCustomersId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerTrashWasNotCollected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerRecyclingWasNotCollected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscontinuePickUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PausePickUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
